# Ignore todos os arquivos .c, .h e .cpp no diretório atual e em subdiretórios
*.c
*.h
*.cpp
*.f90
17*
*.err
Makefile*

# Ignore também os diretórios que correspondem a esses padrões
**/*.c
**/*.h
**/*.cpp
**/*.f90
**/Docs
**/src
**/Spec
**/exe

x86_64
arm
aarch64*
